*{
    box-sizing: border-box;
}

.Note{
    margin: 0 1vw;
    min-width: 9vw;
    min-height: 50vh;
    max-height: 50vh;
    border: 2px solid #ad3232;
    border-radius: 5px;
    overflow-x: hidden;
    display: inline-flex;
    overflow-y: auto;
}

.NoteDay{
    display: inline;
    width: 9vw;
    min-height: 5vh;
    font-size: calc(5px + 1vmin);
    text-align: center;
}
.NoteDayList{
    /*display: list-item;*/
    list-style-type: none;
}

.Day{ /* TODO SPRAWDZIC CZY MUSI BYC DIV W DIV   */
    border: 1px solid black;
    object-fit: fill;
    cursor: pointer;
    width: 9vw;
    height: 5vh;
}