*{
    box-sizing: border-box;
}

.Event{ /* TODO STYLE EVENT */
    border: 1px solid black;
    /*margin-left: -3vw;*/
    margin-bottom: 1vh;
    object-fit: fill;
    cursor: pointer;
    width: 9vw;
}