*{
    box-sizing: border-box;
}

.Event{ /* TODO STYLE EVENT */
    border: 1px solid black;
    margin-top: 1vh;
    object-fit: fill;
    cursor: pointer;
    width: 9vw;
    height: 8vh;
    background-image: url('../img/note.jpg');
    background-size: cover;
    font-family: 'Teko', sans-serif;
}